:root{
    --primary-color: #0A1128;
    --white-color:  #FFFFFF;
    --light-gray-color:rgba(105, 9, 248, 0.2);
    --segunda-cor:rgb(142, 120, 223);
    --secondary-color: rgb(72, 151, 255);
    --gap: 3rem;

}